html, body
    box-sizing: border-box
    width: 100vw
    height: 100vh
    margin: 0
    padding: 0

.container
    display: flex   
    flex-direction: row
    width: 100%
    height: 100%

    .palavras
        display: flex
        justify-content: center
        align-items: center
        flex-direction: row
        width: 40%
        height: 50%
        flex-wrap: wrap

        input
            width: 3.8rem
            height: 2rem
            margin: 0.5rem 1rem
            text-align: center
            visibility: hidden

    .game
        display: flex
        flex-direction: column
        width: 60%
        height: 100%

        .container-2
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: 100%
            height: 60%
            background-color: #075500
            
            .respostas
                display: flex
                flex-direction: row
                
                #resposta
                    width: 4rem
                    height: 4rem
                    margin: 5rem 0.5rem
                    background-color: #ffffff00
                    border: none
                    font-size: 2rem
                    text-align: center

            .buttons
                display: flex
                flex-direction: column

                .checar
                    margin: 0.4rem
                .apagar
                    margin: 0.4rem

        .letras
            display: flex
            justify-content: center
            align-items: center
            flex-direction: row
            width: 100%
            height: 40%

            #letra
                width: 5rem
                height: 5rem
                margin: 0.5rem
                background-color: #444444
                font-size: 1.5rem
                text-align: center
